<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9ce5c0a43e.js" crossorigin="anonymous"></script>
    <title>Product</title>
    <link rel="stylesheet" href="/css/css.css">
</head>

<body id="ForScroll" style="background-color: rgb(226, 238, 248);">
    <header>
        <p>
            <img src="https://res.cloudinary.com/db84tbjky/image/upload/v1715979678/MediaDB/water_key_header_a2k8xq.png" alt="Image not found">
        </p>
    </header>
    <nav>
        <a class="modernButton" href="/waterking/v1/home">Home</a>
        <a class="modernButton" href="/waterking/v1/about">About Us</a>
        <a class="modernButton" href="/waterking/v1/products" style="color: aqua;">Products</a>
        <a class="modernButton" href="/waterking/v1/quality">Quality</a>
        <a class="modernButton" href="/waterking/v1/contact">Cantact Us</a>
        <a class="modernButton" href="/waterking/v1/team">Team</a>
        <% if (isLoggedIn) {  %>
            <a class="modernButton" href="/waterking/v1/profile">Profile</a>
            <a class="modernButton" href="/waterking/v1/logout">Logout</a>
        <% } %>
        <% if (userRole) {  %>
            <a class="modernButton" href="/waterking/v1/addProduct">Launch Product</a>
        <% } %>
        <% if (!isLoggedIn) {  %>
            <a class="modernButton" href="/waterking/v1/login">Login</a>
            <a class="modernButton" href="/waterking/v1/signup">Signup</a>
        <% } %>
    </nav>
    
    <script>
        var nav = document.querySelector('nav');
        let lastScrollPosition = window.scrollY;
    
        function handleScroll() {
            const currentScrollPosition = window.scrollY;
    
            if (currentScrollPosition > lastScrollPosition + 10) {
                nav.style.position = "relative";
            } else if (currentScrollPosition < lastScrollPosition - 10 && window.innerWidth > 800) {
                nav.style.position = "fixed";
                setTimeout(() => {
                    nav.style.position = "relative";
                }, 5000);
            }
    
            lastScrollPosition = currentScrollPosition;
        }
    
        window.addEventListener("scroll", handleScroll);
        handleScroll();
    </script>
 
    <div class="Product-title">
        <div class="headtext">Our Proudly Made Products</div>
        <img style="margin-left: auto;" src="https://res.cloudinary.com/db84tbjky/image/upload/v1715979679/MediaDB/title_cover_xwfgsu.png" alt="">
    </div>
    <div class="productspecific">
        <div class="cardleftner">
            <div class="card">
                <img src="<%= product.image_url %>" id="cardphoto" alt="">
                <div class="cardinfo">
                    <div class="cardtitle"><%= product.name %></div>
                    <table class="cardtable">
                        <tr>
                            <td>Model no.</td>
                            <td><%= product.model_no %></td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td><%= product.price %></td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td><%= product.type %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="rightinfo">
            <div class="cardinfo">
                <div class="cardtitle"><%= product.name %></div>
                <table class="cardtable">
                    <tr>
                        <td>Model no.</td>
                        <td><%= product.model_no %></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><%= product.price %></td>
                    </tr>
                    <tr>
                        <td>Height</td>
                        <td><%= product.height %> foot</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td><%= product.type %></td>
                    </tr>
                    <tr>
                        <td>Power Source</td>
                        <td><%= product.power_source %></td>
                    </tr>
                    <tr>
                        <td>Frequency</td>
                        <td><%= product.Frequency %>Hz</td>
                    </tr>
                    <tr>
                        <td>Voltage</td>
                        <td><%= product.voltageLow %>-<%= product.voltageHigh %> V</td>
                    </tr>
                    <tr>
                        <td>Brand</td>
                        <td><%= product.brand %></td>
                    </tr>
                    <tr>
                        <td>Motor Horsepower</td>
                        <td><%= product.horsePower %> HP</td>
                    </tr>
                    <tr>
                        <td>Motor Phase</td>
                        <td><%= product.phase %> Phase</td>
                    </tr>
                    <tr>
                        <td>Body Material</td>
                        <td><%= product.material %></td>
                    </tr>
                    <tr>
                        <td>Packaging Type</td>
                        <td><%= product.packagingType %></td>
                    </tr>
                    <% if (userRole) { %>
                        <tr>
                            <td colspan="2">
                                <!-- <form action="/del_product/<%= product._id %>" method="post"><button
                                        class="loginBtn">Update Product Details</button></form><button
                                    class="loginBtn">Delete Product</button> -->
                                <a href="del_product/<%= product._id %>"> <button class="loginBtn">Delete
                                        Product</button></a>
                                <a href="update_product/<%= product._id %>"> <button class="loginBtn">Update
                                        Product</button></a>
                            </td>
                        </tr>
                        <% } %>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div class="accordian">
            <div class="accordian-title">
                <div class="accordian-name">Description</div>
                <div class="description">
                    <p><%= product.description %></p>
                </div>
            </div>
            <div class="accordian-title">
                <div class="accordian-name">Salient Features</div>
                <div class="description">
                    <ol>
                        <li>Prompt and in time after sales services.</li>
                        <li>Available in different range to suit different needs of customers.</li>
                        <li>Products are ISI marked (V-4 Submersible, V-6 Submersible & openwell Submersible Pump)</li>
                        <li>Low power consumption & high efficiency</li>
                        <li>Low noise & Low maintenance cost.</li>
                        <li>Reasonably priced & Quick delivery.</li>
                        <li>Product are Well establihed in the market due to high standard quality</li>
                        <li>Satisfactory result even at low voltage and designed to withstand wide voltage fluctuation.
                        </li>
                        <li>Easy availability of spares parts.</li>
                        <li>Attractive outlook.</li>
                    </ol>
                </div>
            </div>
            <div class="accordian-title">
                <div class="accordian-name">Specifications</div>
                <div class="description">
                    <div class="rightinfo">
                        <div class="cardinfo">
                            <div class="cardtitle"><%= product.name %></div>
                            <table class="cardtable">
                                <tr>
                                    <td>Model no.</td>
                                    <td><%= product.model_no %></td>
                                </tr>
                                <tr>
                                    <td>Price</td>
                                    <td><%= product.price %></td>
                                </tr>
                                <tr>
                                    <td>Height</td>
                                    <td><%= product.height %> foot</td>
                                </tr>
                                <tr>
                                    <td>Type</td>
                                    <td><%= product.type %></td>
                                </tr>
                                <tr>
                                    <td>Power Source</td>
                                    <td><%= product.power_source %></td>
                                </tr>
                                <tr>
                                    <td>Frequency</td>
                                    <td><%= product.Frequency %>Hz</td>
                                </tr>
                                <tr>
                                    <td>Voltage</td>
                                    <td><%= product.voltageLow %>-<%= product.voltageHigh %> V</td>
                                </tr>
                                <tr>
                                    <td>Brand</td>
                                    <td><%= product.brand %></td>
                                </tr>
                                <tr>
                                    <td>Motor Horsepower</td>
                                    <td><%= product.horsePower %> HP</td>
                                </tr>
                                <tr>
                                    <td>Motor Phase</td>
                                    <td><%= product.phase %> Phase</td>
                                </tr>
                                <tr>
                                    <td>Body Material</td>
                                    <td><%= product.material %></td>
                                </tr>
                                <tr>
                                    <td>Packaging Type</td>
                                    <td><%= product.packagingType %></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const item = document.getElementsByClassName('accordian-title');
        for (i = 0; i < item.length; i++) {
            item[i].addEventListener('click', function () {
                this.classList.toggle('active')
            })
        }
    </script>
    </div>
    <fieldset id="box">
        <legend id="OurAchivements">
            You may also like these..
        </legend>
        <div class="cardContainer">
            <% let count=0; %>
                <% productsOpenWell.forEach(product=> { %>
                    <% if (count < 4) { %>
                        <div>
                            <a href="/waterking/v1/products/<%= product.id %>">
                                <div class="card">
                                    <img src="<%= product.image_url %>" id="cardphoto" alt="<%= product.name %>">
                                    <div class="cardinfo">
                                        <div class="cardtitle">
                                            <%= product.name %>
                                        </div>
                                        <table class="cardtable">
                                            <tr>
                                                <td>Model no.</td>
                                                <td>
                                                    <%= product.model_no %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Price</td>
                                                <td>
                                                    <%= product.price %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Height</td>
                                                <td>
                                                    <%= product.type %>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% count++; %>
                            <% } %>
                                <% }); %>
        </div>
    </fieldset>

    <footer>
        <div id="footer1">
            <div class="foot">
                <div id="centre"><br><br><br><img src="https://res.cloudinary.com/db84tbjky/image/upload/v1715980456/MediaDB/1_zdbju6.jpg" alt="" height="100"></div>
                <div id="centre">
                    <h1 style="color: red; font-family: 'Times New Roman', Times, serif;">Water King Industries</h1>
                    <h3>An ISO 9001:2008 Company</h3>
                    <h3>Wide Range Of High Efficiency Pump</h3>
                </div>
            </div>
            <div class="foot">
                <h1 style="color: aqua;">Contact Us</h1>
                <div><a href="https://maps.app.goo.gl/ERtkoEhEcGEwsr2b7" target="_blank"><i
                            class="fa-solid fa-map-location-dot" id="afLogo"></i></a> Plot No.
                    Plot No. 7-A, Dhwani Industrial Park-6, Anand Liner Gate, <br>
                    Near Bhumi Industrial, Veraval(Shapar), Rajkot - 360024, Gujarat, India.
                </div><br>
                <div><a href="tel:(+91) 99040 87518"><i class="fa-solid fa-phone-volume" id="afLogo"></i></a>Cell:
                    91+
                    99040 87518 (Suresh Patel)</div><br>
                <div><a href="mailto:info@waterkingpumps.com"><i class="fa-solid fa-envelope" id="afLogo"></i></a><a
                        href="mailto:info@waterkingpumps.com">info@waterkingpumps.com</a></div>
                <br>

                <h1>Follow Us</h1>
                <div id="face" class="icon">
                    <a href="#" target="_blank">
                        <i class="fa-brands fa-facebook" id="afLogofollow"></i></a>
                </div>
                <div id="yout" class="icon">
                    <a href="#" target="_blank">
                        <i class="fa-brands fa-youtube" id="afLogofollow"></i></a>
                </div>
                <div id="insta" class="icon">
                    <a href="#" target="_blank"><i
                            class="fa-brands fa-instagram" id="afLogofollow"></i></a>
                </div>
            </div>
        </div>

        <div id="bottomfoot" style="background-color: #005a9a">
            <div id="bfa">
                <a class="modernButton" href="/waterking/v1/home">Home</a>
                <a class="modernButton" href="/waterking/v1/about">About Us</a>
                <a class="modernButton" href="/waterking/v1/products" style="color: aqua;">Products</a>
                <a class="modernButton" href="/waterking/v1/quality">Quality</a>
                <a class="modernButton" href="/waterking/v1/contact">Cantact Us</a>
                <a class="modernButton" href="/waterking/v1/team">Team</a>
                <% if (isLoggedIn) {  %>
                    <a class="modernButton" href="/waterking/v1/profile">Profile</a>
                    <a class="modernButton" href="/waterking/v1/logout">Logout</a>
                <% } %>
                <% if (userRole) {  %>
                    <a class="modernButton" href="/waterking/v1/addProduct">Launch Product</a>
                <% } %>
                <% if (!isLoggedIn) {  %>
                    <a class="modernButton" href="/waterking/v1/login">Login</a>
                    <a class="modernButton" href="/waterking/v1/signup">Signup</a>
                <% } %>
            </div>
        </div>
        <div id="bottomfoot">
            <div>2019 © WaterKing Pumps, All rights Reserved.</div>
            <div id="bfa">
                <div><a href="me">Parth the developer and water key family owned.</a></div>
            </div>
        </div>
    </footer>
    <a href="#ForScroll" id="myBtn" title="Go to top"><i class="fa-solid fa-caret-up"></i></a>
</body>

</html>